@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

.indicators-home, .indicators-login {
   margin-top: 5em;

   h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: medium;
   }
}

.indicators-login {
   #loading { 
     display: none;
   }
}

footer {
  margin-left: 2em;
}

nav {
 &.bg-faded {
   background-color: #F2F7F2;
 }

 .session {

    button { 
      cursor: pointer; cursor: hand;
    }

    .login_button { 
       display: inline; 
    }
    div, a { display: none; }

    div.user_email {
      margin-right: 1em;
      .unverified {
       margin-left: .5em;
      }
    }

    .mugshot {
      display: inline;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #DDD;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}



/*------ search box --------*/

.picker {
    .pickname {
	.symbol {
          float: left;
          width: 4em;
         }
        .name {
          margin: 0 0 0 1em;
          display: inline;
        }
        .exchange {
          float: right;
	  color: #676767;
          text-align: right;
	  margin: 0 0 0 2em;
        }
    }


    input.query {
      display: inline-block;
      width: 15em;
    }

    .loading {
      display: none;
      margin-left: 1em;
     }

    .fa-search {
      color: #BBB;
      margin-left: -1.5em;
     }
}

/*--------- leaders ---------*/

.leaders {
  select.sector {
    margin-left: 1em;
  }
  .loading {
    margin-left: 1em;
    display: none;
    i.fa-refresh {
      margin-left: .5em;
    }
  }
  .results {
    h4 {
      font-size: 120%;
      margin-top: 1em;
      display: none;
      .for_sector {
       font-size: 90%;
       color: #555;
       margin-top: .2em;
       margin-bottom: 1em;
      }
    }
    .table {
      margin-top: 1em;
      margin-bottom: 2em;
      td, th {
      padding: 0px;
      font-weight: normal;
      }
     .rank {  
       text-align: center;
       }
     .corp .btn {  
       padding: 0px;
       }
     th.value {
       text-align: left;
     }
     .value {  
       div {
        width: 5em;
        text-align: right;
         }
       }
    }
  }
}

/*------- corp info -----------*/
.bottom-row {
   position: absolute;
   bottom: 0px;
   .name { font-weight: bold;}
   .value {}
}


/*------- login err msg -----------*/

#err_msg {
   display: none;
}

/*------- charts -----------*/
#chart {
    min-height: 400px;
    /*
    height: 400px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    */

    .highcharts-title {
      font-family: 'Zilla Slab', serif;
    }

    .highcharts-axis.axis0 .highcharts-axis-line {
      stroke: #7cb5ec;
      fill: #7cb5ec;
    }

    .highcharts-axis.axis1 .highcharts-axis-line {
      stroke: #666;
      fill: #666;
    }

   .ttm {
     fill: #90ed7d;
     stroke: #90ed7d;
   }
}

.download-csv {
  text-align: center;
  width: 3em;
  font-size: 120%;
  color: #080;
  &:hover {
      background-color: #DFD;
  }
}
